@model RentCourse.ViewModels.AddProductViewModel
@{
    ViewData["Title"] = "Add Product";
}
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>@ViewData["Title"] - rent.ukraine</title>
</head>
<style>
    .regform {
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        vertical-align: central;
    }

    h2, label {
        font-family: sans-serif;
        font-weight: 600;
        color: #04049d;
        text-transform: uppercase;
        line-height: 110%;
        letter-spacing: 2px;
    }

    input, select {
        border-width: 2px !important;
        border-color: #04049d !important;
        color: #04049d !important;
    }

    .btn-outline-dark:hover {
        background: #04049d !important;
        color: #ffffff !important;
    }

    .form-control {
        border: 0.2em solid #04049d !important;
        border-radius: 0 !important;
        color: #04049d !important;
        font-size: 1em !important;
        font-family: sans-serif !important;
        height: 3em;
    }

    td div {
        margin-bottom: 1em;
    }
</style>
<script>
    function changeFunc() {
        var typeselect = document.getElementById('typeselect');
        var selectedValue = typeselect.options[typeselect.selectedIndex].value;
        var thingoptions = document.querySelectorAll('[id=thingoption]');
        var estateoptions = document.querySelectorAll('[id=estateoption]');
        var caroptions = document.querySelectorAll('[id=caroption]');
        if (selectedValue == 1) {
            for (var i = 0; i < thingoptions.length; i++) {
                thingoptions[i].hidden = false;
            }
            for (var i = 0; i < estateoptions.length; i++) {
                estateoptions[i].hidden = true;
            }
            for (var i = 0; i < caroptions.length; i++) {
                caroptions[i].hidden = true;
            }
        }
        else if (selectedValue == 2) {
            for (var i = 0; i < thingoptions.length; i++) {
                thingoptions[i].hidden = true;
            }
            for (var i = 0; i < estateoptions.length; i++) {
                estateoptions[i].hidden = false;
            }
            for (var i = 0; i < caroptions.length; i++) {
                caroptions[i].hidden = true;
            }
        }
        else if (selectedValue == 3) {
            for (var i = 0; i < thingoptions.length; i++) {
                thingoptions[i].hidden = true;
            }
            for (var i = 0; i < estateoptions.length; i++) {
                estateoptions[i].hidden = true;
            }
            for (var i = 0; i < caroptions.length; i++) {
                caroptions[i].hidden = false;
            }
        }
    }
</script>
<body onload="changeFunc();" style="background-image: url(https://pbs.twimg.com/media/EuxyjDgXIAEo4Ke?format=jpg&name=large)">

    <a asp-controller="Home" asp-action="Index">
        <button style="border-radius:25px;height:50px;width:50px; border-color:#04049d;border-width:1px;background:none;margin-top:10px;margin-left:10px;">
            <img src="~/images/home-button.png" style="height:30px;width:30px" />
        </button>
    </a>
    <form method="post" asp-controller="Product" asp-action="AddProduct" class="regform" enctype="multipart/form-data">
        <table style="margin-left:7%;margin-right:7%">
            <tr>
                <td style="width:50%">
                    <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;padding-left: 5em; padding-right: 5em">
                        <div style="display:flex;justify-content:center;margin-bottom:0">
                            <label style="color:#2acdc1; font-size:3em; text-align:center">Нове оголошення</label>
                        </div>
                        <div style="width:100%;display:flex;justify-content:center;flex-direction:column">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div>
                                <label asp-for="TypeId"></label><br />
                                <p>
                                    <select id="typeselect" name="typeselect" class="form-control" asp-for="TypeId" onchange="changeFunc();">
                                        <option selected value="1">Прокат речей</option>
                                        <option value="2">Оренда нерухомості</option>
                                        <option value="3">Оренда транспорту</option>
                                    </select>
                                </p>
                                <span asp-validation-for="TypeId"></span>
                            </div>
                            <div>
                                <label asp-for="CategotyId"></label><br />
                                <select id="thingsselect" class="form-control" asp-for="CategotyId">
                                    @foreach (var category in Model.GetCategories.Where(x => x.TypeId == 1))
                                    {
                                        if (category.Name != "Усі речі")
                                        {
                                            <option id="thingoption" value="@category.Id">@category.Name</option>
                                        }
                                    }
                                    @foreach (var category in Model.GetCategories.Where(x => x.TypeId == 2))
                                    {
                                        if (category.Name != "Уся нерухомість")
                                        {
                                            <option id="estateoption" value="@category.Id">@category.Name</option>
                                        }
                                    }
                                    @foreach (var category in Model.GetCategories.Where(x => x.TypeId == 3))
                                    {
                                        if (category.Name != "Увесь транспорт")
                                        {
                                            <option id="caroption" value="@category.Id">@category.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CategotyId"></span>
                            </div>
                            <div>
                                <label asp-for="Title"></label><br />
                                <input type="text" class="form-control" asp-for="Title" />
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div>
                                <label asp-for="Description"></label><br />
                                <input type="text" class="form-control" asp-for="Description" />
                                <span asp-validation-for="Description"></span>
                            </div>
                            <div>
                                <label asp-for="Price"></label><br />
                                <input type="number" class="form-control" asp-for="Price" />
                                <span asp-validation-for="Price"></span>
                            </div>
                            <div>
                                <label asp-for="LocationId"></label><br />
                                <select class="form-control" asp-for="LocationId">
                                    @foreach (var location in Model.GetLocations)
                                    {
                                        if (location.City != "Уся Україна")
                                        {
                                            <option value="@location.Id">@location.City</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="LocationId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageName"></label>
                                <input class="form-control" type="file" name="uploadedFile" />
                                <span asp-validation-for="ImageName" />
                            </div>
                            <div style="display:flex;justify-content:center">
                                <input style="font-size:1em;font-family:sans-serif;font-weight:600;margin-top:1em !important;color:#04049d;min-width:25%;border: 0.2em solid #04049d !important;border-radius: 0 !important;" type="submit" class="btn btn-outline-dark" value="СТВОРИТИ" />
                            </div>
                        </div>
                    </div>
                </td>
                <td style="border-left:0.3em solid #04049d; display:flex;justify-content:center;padding:2em">
                    <img src="~/images/rent-logo3.png" style="width:100%" />
                </td>
            </tr>
        </table>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>